In [1]:
import pandas as pd

In [5]:
df=pd.read_csv('path_to_files/preds_7.csv')

In [7]:
dff = df['class'].to_list()
df

      Unnamed: 0  path  class
0             69     0      0
1             79     0      0
2             87     0      0
3            360     0      0
4            517     0      0
...          ...   ...    ...
3278        2114   468      2
3279        2177   468      2
3280        2530   468      2
3281        2749   468      2
3282        2807   468      2

[3283 rows x 3 columns]

In [8]:
import numpy as np

In [9]:
te=np.load('dataset/labels/test.npy')
te_n=dict(np.ndenumerate(te))

In [10]:
i=0
k=0
labels_t={}
for v in te_n.values():
    if v==1:
        labels_t[k]=i%3
        k+=1
    i+=1

In [11]:
labels_test=[] 
for v in labels_t.values():
    labels_test.append(v)

In [12]:
len(labels_test)

469

In [13]:
from statistics import mode

In [14]:
def most_common(List):
    return(mode(List))

In [15]:
k=0
pred_labels=[]
for i in range(469):
    j=k+7
    md=most_common(dff[k:j])
    pred_labels.append(md)
    k=k+7

In [16]:
len(pred_labels)

469

In [17]:
from sklearn.metrics import accuracy_score

In [18]:
accuracy_score(labels_test,pred_labels)

0.8230277185501066