In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('path_to_files/preds_6.csv')

In [3]:
dff = df['class'].to_list()
df

      Unnamed: 0  path  class
0             54     0      0
1             62     0      0
2            305     0      0
3            438     0      0
4            587     0      0
...          ...   ...    ...
2809        1519   468      2
2810        1803   468      2
2811        1858   468      2
2812        2161   468      2
2813        2404   468      2

[2814 rows x 3 columns]

In [4]:
import numpy as np

In [5]:
te=np.load('dataset/labels/test.npy')
te_n=dict(np.ndenumerate(te))

In [6]:
i=0
k=0
labels_t={}
for v in te_n.values():
    if v==1:
        labels_t[k]=i%3
        k+=1
    i+=1

In [7]:
labels_test=[] 
for v in labels_t.values():
    labels_test.append(v)

In [8]:
len(labels_test)

469

In [9]:
from statistics import mode

In [10]:
def most_common(List):
    return(mode(List))

In [11]:
k=0
pred_labels=[]
for i in range(469):
    j=k+6
    md=most_common(dff[k:j])
    pred_labels.append(md)
    k=k+6

In [12]:
len(pred_labels)

469

In [13]:
from sklearn.metrics import accuracy_score

In [14]:
accuracy_score(labels_test,pred_labels)

0.7974413646055437