In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('path_to_files/preds_8.csv')

In [4]:
dff = df['class'].to_list()
df

      Unnamed: 0  path  class
0             80     0      0
1             90     0      0
2            100     0      0
3            412     0      0
4            588     0      0
...          ...   ...    ...
3747        2410   468      2
3748        2481   468      2
3749        2887   468      2
3750        3133   468      2
3751        3201   468      2

[3752 rows x 3 columns]

In [5]:
import numpy as np

In [6]:
te=np.load('dataset/labels/test.npy')
te_n=dict(np.ndenumerate(te))

In [7]:
i=0
k=0
labels_t={}
for v in te_n.values():
    if v==1:
        labels_t[k]=i%3
        k+=1
    i+=1

In [8]:
labels_test=[] 
for v in labels_t.values():
    labels_test.append(v)

In [9]:
len(labels_test)

469

In [10]:
from statistics import mode

In [11]:
def most_common(List):
    return(mode(List))

In [23]:
k=0
pred_labels=[]
for i in range(469):
    j=k+8
    md=most_common(dff[k:j])
    pred_labels.append(md)
    k=k+8

In [24]:
len(pred_labels)

469

In [25]:
from sklearn.metrics import accuracy_score

In [26]:
accuracy_score(labels_test,pred_labels)

0.8230277185501066